function isImageAndBelowMaxSize(uid, maxSizeMB){
return request.auth.uid == uid && (request.resource == null ||
  request.resource.size < maxSizeMb * 1024 * 1024 && request.resource.contentType.matches('image/.*'))
}

service firebase.storage{
match /b/STORAGE BUCKET/o{
match /{userId}/thumb/{timestamp}.{fileName}{
allow read, write: if isImageAndBelowMaxSize(userId, 1);
}
match /{userId}/full/{timestamp}/{fileName}{
allow read, write: if isImageAndBelowMaxSize(userId, 5);
}
}
}
