<div class="side-bar">
  <div class="header" nd-controller='ModalCtrl'>
    <h1 id='logo'>Chatterbox</h1>
    <button class='newRoom btn btn-info' ng-click='open()'>New Room</button>
  </div>

  <div class="room-list">
    <ul ng-repeat='(id, room) in rooms'>
      <li ng-class='{"room-selected":room === selectedRoom}' ng-click='getMessages(room.$id); setSelected(id)'>{{room.name}}</li>
    </ul>
  </div>
</div>

<div class="room-content">
  <h1 ng-show='roomSelected' class='selected-room-header'>{{selectedRoom.name}}</h1>
  <div class="msg-display" ng-repeat='msg in messages'>
    <span class='msg-username'>{{msg.username}}</span>
    <br>
    {{msg.content}}
    <hr>
  </div>
</div>

<form action="" ng-submit='send()' ng-show='roomSelected' class='messageInput' ng-controller='MessageCtrl'>
  <input type="text" class='messageInputbox' ng-model='messageContent'>
  <button class='btn btn-info' type='button' ng-click='send()'>Send</button>
</form>
